*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: lightgrey;
}

/*nav container*/
.container-flex{
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    display: flex;
    background-color: rgb(56, 56, 56); 
    color: white;
    font-weight: 900;
}

/* Nav Button*/
.nav-button{
    align-items: center;
    margin: 0 50px;
}

.nav-button{
    display: flex;
    gap: 30px;
    padding: 10px;
}

.nav-button li{
    list-style: none;
    box-shadow:  4px 4px  rgb(255, 210, 10);
}

.nav-button a{
    text-decoration: none;
    color: white;
    background-color: rgb(90, 103, 114);
}
.nav-button a:hover{
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow:  4px 4px  rgb(0, 0, 0);
}

/*Header*/
.header-container{
    display: flex;
    width: auto;
    height: 200px;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px 1px rgb(0, 22, 146);
    font-size: 30px;
}

/*About ME Header Main*/

.about-me-header-main{
    display: flex;
    justify-content: space-around;
    width: auto;
    height: auto;
    flex-wrap: wrap;
}

.about-me-image{
    flex: 0 1 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.about-me-image img{
    height: 400px;
    width: 350px;
}

.about-me-text{
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me-text p {
    background-color: lightcyan;
    width: 800px;
    height: auto;
}